{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container " >
	<div class="row">
		<div class="col s12 center-align">
			<p itemprop="description" style="font-size: 47px;" class="thin">
				<strong class="white-text bold">NITT Resume Builder</strong>
				<span class="white-text  thin">is the simplest way to make your resume </span>
			</p>
		</div>
	</div>
<div class="col s12 center-align">
	<a class="waves-effect waves-light btn-large white teal-text text-lighten 1 ">Make your own Resume!</a>
</div>


</div>
{% endblock %}