{% extends 'base.html' %}
{% block content %}
	
		
	
	<div class="container " >
	<div class="row">
		<div class="col s12 center-align">
			<p itemprop="description" style="font-size: 47px;" class="thin">
				<br>
	
	
	<br>
				<strong class="white-text bold">Oops!</strong>
				<span class="white-text  thin">You are logged Out!</span>
				<strong class="white-text bold">See you</strong>
				<span class="white-text  thin">again!</span>
			</p>
		</div>
		

	</div>
</div>

		
	
	<br>	
	
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">NITT Resume Builder</h5>
                <p class="grey-text text-lighten-4">Made by Spider</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="../">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="../about">About</a></li>
                  <li><a class="grey-text text-lighten-3" href="../signin">Log In</a></li>
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Connect with 
            <a class="grey-text text-lighten-4 right" href="http://spider.nitt.edu">Spider</a>!
            </div>
          </div>
        </footer>
{% endblock %}