{% extends 'base.html' %}
{% block content %}

<div class="container">
	{% if error %}
		<div class="alert alert-dismissible alert-danger">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  {{ error }}
		</div>
	{% endif %}
      <form class="form-signin" action = "/signin" method = "post">
      	{% csrf_token %}
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputRoll" class="sr-only">Roll number</label>
        <input type="text" id="inputRoll" class="form-control" placeholder="Roll number" name = "roll_no" required autofocus>
        <label for="inputPassword" class="sr-only">Web mail password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "pass" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
</div>
{% endblock %}