{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
<div class="col s6 center" style="padding:3%;width:60%;">
  <div class="card" style="padding:3%;margin-top:5%;"  >
	{% if error %}
		<div class="alert alert-dismissible alert-danger">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  {{ error }}
		</div>
	{% endif %}
      <form class="form-signin" action = "/signin" method = "post">
      	{% csrf_token %}
       
        
        <input type="text" id="inputRoll" class="form-control" placeholder="Roll number" name = "roll_no" required autofocus>
        
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "pass" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
  </div>
  </div>


</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">NITT Resume Builder</h5>
                <p class="grey-text text-lighten-4">Made by Spider</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="../">Home</a></li>
                  <li><a class="grey-text text-lighten-3" href="../about">About</a></li>
                  {% if not user.is_authenticated %}
                  <li><a class="grey-text text-lighten-3" href="../logout">Log Out</a></li>
                   {% endif %}
        
        {% if user.is_authenticated %}
        <li><a class="grey-text text-lighten-3" href="../signin">Log In</a></li>
        {% endif %}
                  
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            Connect with 
            <a class="grey-text text-lighten-4 right" href="http://spider.nitt.edu">Spider</a>!
            </div>
          </div>
        </footer>
{% endblock %}