{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="col" style="padding:3%;width:40%;">
  <div class="card" style="padding:3%;"  >
	{% if error %}
		<div class="alert alert-dismissible alert-danger">
		  <button type="button" class="close" data-dismiss="alert">&times;</button>
		  {{ error }}
		</div>
	{% endif %}
      <form class="form-signin" action = "/signin" method = "post">
      	{% csrf_token %}
        <h4 class="form-signin-heading">Sign In</h4>
        
        <input type="text" id="inputRoll" class="form-control" placeholder="Roll number" name = "roll_no" required autofocus>
        
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = "pass" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div>
  </div>
  <div class="col s10">
    </div>

</div>
{% endblock %}